        body { font-family: monospace; margin: 0; padding: 0; background: #232323; overflow: hidden; }
        h1 { display: flex; align-items: center; & img { height: 100px; width: 80px; object-fit: contain; margin-right: 10px;}}
        h1, h2, h3{ color: gold; }
        .cursor { position: absolute; width: 20px; height: 20px; border-radius: 50%; background-color: #e3c800; pointer-events: none; z-index: 1000;
            transition: 0.1s ease-in-out;
        &::before { content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 5px; height: 5px; border-radius: 50%;
            background-color: #ffffff; }}
        .label { color: gold; font-weight: bold; margin-bottom: 5px; display: block; font-size: 20px; }
        .main-content { display: none; }
		.run-btn { padding: 10px; border: none; border-radius: 5px; background-color: gold; color: #000; cursor: pointer;
    	&:hover { background-color: #CC9900; }}
        .splash-screen { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #121111; display: flex; justify-content: center;
            align-items: center; z-index: 9999; }
        .splash-content { text-align: center;
        & img { width: 100px; height: 100px; margin-bottom: 20px; }}
        .ssimg { background-color: #525252; padding: 10px; border-radius: 10px; }
        #container { display: flex; flex-direction: row; height: 100vh; }
        #container-ele { margin: 30px; }
        #left-container { width: 600px; height: 100vh; background-color: #333; }
        #right-container { width: calc(100vw - 200px); height: 100vh; overflow-y: auto; }
        #editor-console-container { display: flex; justify-content: space-around; width: 100%; }
        #console, #editor { width: 100%; height: 622px; padding: 3px; border: 1px solid #ccc; border-radius: 5px; background-color: #525252;
            color: #fff; }
        #console2{ width: 92%; height: 30%; padding: 3px; border: 1px solid #ccc; border-radius: 5px; background-color: #525252; color: #fff; }
        #console pre { white-space: pre-wrap; }
        #editor-console-container { display: block; }
        #console-wrapper, #editor-wrapper { margin-bottom: 20px; }
        #editor { font-family: monospace; white-space: pre-wrap; }
        .keyword { font-style: italic; color: gold; }
		.numberinteger { color: #cc9900; }
        .brackets{ color: #20ee00; }
		.cc{ background-color: #fff; color: #aaa; border: none; border-radius: 50%; cursor: pointer; 
			transition: background-color 0.3s ease-in-out; font-size: 20px; }
